[user]
name = fledra
email = baran@fledra.dev
signingKey = 0xBF5E824D19BAAD5A!

[init]
defaultBranch = main

[commit]
gpgSign = true

[pull]
rebase = true

[rebase]
autoStash = true

[alias]
resign = "!_() { : git checkout ; [ \"$#\" -eq 0 ] && echo 'Usage: resign <rev-list>' && exit 2; \
  git filter-branch --commit-filter ' \
  if [ \"$GIT_COMMITTER_EMAIL\" = \"baran@fledra.dev\" ]; then git commit-tree -S \"$@\"; else git commit-tree \"$@\"; fi' $1; }; _"
